@import "tailwindcss";

@theme {
  --color-primary-100: rgb(250, 250, 250);
  --color-primary-200: rgb(241, 240, 228);
  --color-primary-300: rgb(223, 200, 185);
  --color-primary-400: rgb(184, 171, 148);
  --color-primary-500: rgb(189, 159, 139);
  --color-primary-600: rgb(158, 122, 103);
  --color-primary-700: rgb(158, 136, 120);
  --color-primary-800: rgb(133, 102, 92);
  --color-primary-900: rgb(83, 69, 64);
}

#root {
  color: rgb(83, 69, 64);
  background-color: rgb(241, 240, 228);
}
